.header {
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #1976d2;
  color: white;
  font-weight: 600;
}

.title {
  margin-left: 20px;
  font-size: 20px;
  font-weight: 600;
}

.main {
  margin: 20px;
}

svg#clouds {
  position: fixed;
  bottom: -160px;
  left: -230px;
  z-index: -10;
  width: 1920px;
}

.active {
  display: none;
}